body {
    background-color: #f1f1ee;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/*change colors of navbar to match jumbotron pic*/
nav.navbar.navbar-inverse {
    background-color: #4d6973;
    border: none;
}

.nav.navbar-nav li a {
    color: #000000;
}



.nav.navbar-nav li:hover {
    background-color: #6f98a6;
}

/*set site banner*/
.jumbotron {
    background-image: url('imgs/potential\ portfolio\ banner\(1\).png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f1f1ee;
}

/*style content under banner*/
div.container.home-content {
    background-color: white;
}


/* Add a gray background color and some padding to the footer */
footer {
    margin-top: 10px;
    background-color: #6f98a6;
    padding: 25px;
}