.container {
    display: block;
    text-align: center;
}
.profilePicture {
    width: 75vh;
    height: auto;
    border-radius: 30%;
}
h2 {
    font-family: 'Lucida Sans';
}
.aboutMe {
    margin-left: 40vh;
    margin-right: 40vh;
    border-style: solid;
    border-color: olivedrab;
    font-family: 'Lucida Sans';
}