html {
    background-color: #f5ebfc;
}

.heading {
    display: grid;
    grid-template-columns: minmax(50vh, 25%) 1fr;
    margin: 5% 15% 10% 15%;
    min-height: 50px;
    font-size: x-large;
    font-family: 'Lucida Sans';
    text-align: justify;
    text-align-last: left;
    letter-spacing: 5px;
}
.tagline {
    text-align: right;
    text-align-last: right;
    letter-spacing: normal;
    font-size: 20px;
}
.profilePicture {
    width: 45vh;
    height: auto;
    border-radius: 30%;
    transition: width 1s;
}
.profilePicture:hover {
    width: 40vh;
}

.aboutMe {
    margin-left: 25vh;
    margin-right: 25vh;
    border-style: solid;
    border-color: olivedrab;
    border-width: 5px;
    font-family: 'Lucida Sans';
}
.links {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}
.footer {
    margin-left: 40vh;
    margin-right: 40vh;
    padding: 5px;
    font-family: 'Lucida Sans';
    text-align: center;
}
@media only screen and (max-width: 780px) {
    .aboutMe {
        margin-right: 5vh;
        margin-left: 5vh;
        
    }
}
@media only screen and (max-width: 600px) {
    .aboutMe {
        margin-right: 5vh;
        margin-left: 5vh;
        
    }
    
}